<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981912831651-69lvfll8cjr9lsqv4ooi3evo97r3u9q7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981912831651-69lvfll8cjr9lsqv4ooi3evo97r3u9q7</string>
	<key>API_KEY</key>
	<string>AIzaSyDV08wFpeOWdWT8LWfaIOf2DUGVgsbBMlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>981912831651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.playsong.Play-Song</string>
	<key>PROJECT_ID</key>
	<string>play-song-35e80</string>
	<key>STORAGE_BUCKET</key>
	<string>play-song-35e80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981912831651:ios:f50e94fda4e5f2ad90a116</string>
	<key>DATABASE_URL</key>
	<string>https://play-song-35e80.firebaseio.com</string>
</dict>
</plist>